*{
  margin: 0vw;
  padding: 0vw;
  list-style:none;
  text-decoration: none;
  max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
  }
  
  .cabecalho .headersite {
    display: flex;
    justify-content: center;
    padding-left: 510px;
    color: white;
    font-size: xx-large;
    align-items: center;
  }
  
  .containerInteiro .cabecalho{
    width: 100%;
    background-color: #8114b6;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 9vh;
    position: fixed;
  }
  
  .containerInteiro {
    display: flex;
    height: 100vh; /* alterado de 150vh para 100vh */
    background-image: url(https://www.gannett-cdn.com/presto/2019/07/29/USAT/b72ac865-44af-4a54-abef-df00d4ecbe95-IA01_REAR_Friends_22.JPG);
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center; /* centralizar o conteúdo verticalmente */
  }
  
  .containerInteiro .container {
    max-width: 500px;
    margin: 110px auto;
    background-color: rgba(128, 20, 182, 0.89);
    padding: 20px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  h1 {
    text-align: center;
    color: beige;
    font-size: 35px;
  }
  
  .login1 {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: rgb(197, 178, 197);
  }
  
  input,
  select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4f0475;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(209, 171, 209);
  }

  .footer {
  margin-top: auto;
  text-align: center;
  padding: 4px;
  background-color: #8114b6;
  color: white;
  width: 100%;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}