body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #6a0dad; /* Fundo roxo */
}

.navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4a067c; /* Cor de fundo da barra lateral */
    padding-top: 20px;
}

.navbar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li {
    padding: 10px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.navbar nav ul li a:hover {
    background-color: #fff; /* Mudança de cor ao passar o mouse */
    color: #4a067c;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

header {
    background-image: url(https://i.pinimg.com/originals/00/14/f5/0014f5470c1517645c41aa380f254b14.png);
    padding: 25px;
    background-size: cover;
  background-repeat: no-repeat;
}

main {
    color: #fff;
}

.content main .p{
    display: flex;
    justify-content: center;
    margin-right: 234px;
}

.inicio {
    text-align: center;
    margin-bottom: 30px;
}

.inicio p {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.graficos {
    display: flex;
    margin-left: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graficos div {
    margin-left: 20px; 
}

.graficos canvas {
    display: flex;
    max-width: 700px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    display: flex;
    color: rgb(254, 231, 200);
    font-size: xx-large;
    margin-left: 270px;
}

h2 {
    display: flex;
    color: antiquewhite;
    justify-content: space-evenly;
}

h3 {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.barras {
    display: flex;
    justify-content: center;
    height: 340px;
    width: 730px;
}

















  
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .container {
    width: 100%;
    width: 90%;
    height: 340px;
    display: flex;
    gap: 7px;
    margin-inline: 50px;
  
    
  }
  
  .card {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
  
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  
    --transition-timing: 0.35s;
  }
 
  .card:hover {
    flex-grow: 7;
  }
  
  .card > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.4);
    z-index: 1;
    transition: var(--transition-timing) ease;
  }
  .card:hover > .background {
    filter: brightness(1);
  }
  
  .card > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 10;
  }
  .card:hover > .card-content {
    inset: 20px;
    top: auto;
  }
  
  .card-content > * {
    transition: var(--transition-timing);
  }
  
  .card-content > .profile-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .card:hover .profile-image {
    border: 1px solid rgb(110, 252, 205);
  }
  .profile-image > img {
    stroke: #fefefe;
  }
  .card:hover .profile-image > img {
    stroke: rgb(110, 252, 205);
  }
  
  .card-content > .title {
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
  }
  .card:hover .title {
    opacity: 1;
    translate: 0 0;
  }
  
  .card > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 1;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  }
